################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimonSaysZombieRush/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
